<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>永慶房屋，Progarm Project</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    @*<link rel="stylesheet" href="~/Content/ViewCSS/style.css">*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("css", required: false)

</head>
<body>
    
        @RenderBody()
        
        <footer>
            <p>&copy; Copyright (c) 2017 by Eric (http://codepen.io/ehermanson/pen/KwKWEv)</p>
        </footer>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
